@import url(../../../colors.css);

@mixin breakpoint($point) {
    @if $point ==lg {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $point ==md {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point ==sm {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $point ==xs {
        @media (max-width: 370px) {
            @content;
        }
    }

    @else if $point ==xl {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else if $point ==xxl {
        @media (max-width: 1400px) {
            @content;
        }
    }
}

.scroling {
    max-height: 150px;
    overflow-y: auto;
    height: 100%;
    margin-right: -2px;
}

.scroling::-webkit-scrollbar {
    width: 5px;
}

.scroling::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--turquoise)
}

.scroling::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.container {
    border-radius: 5px;
    border: 1px solid #E3EBEF;
    background: #F6F7F8;
    width: 440px;
    height: 50px;
    display: flex;
    align-items: center;

    @include breakpoint (xxl) {
        width: 100%;
    }
}

input {
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 16px;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.search_container {
    background: var(--grey);
    border: 1px solid var(--border-list);
    border-radius: 5px;
    // height: 203px;
    margin-right: -2px;
    margin-top: 154px;
    width: 440px;
    z-index: 2;

    @include breakpoint (xxl) {
        margin-left: -1px;
        width: calc(100% + 2px);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    border-bottom: 1px solid var(--easy-blue);
}

.item {
    transition: 0.2s;
    overflow: hidden;

}

.item :hover {
    background: var(--hover);
}



.empty {
    margin-left: 20px;
    opacity: 0.5;
    margin-top: 15px;
}

::-webkit-input-placeholder {
    color: var(--turquoise)
}


.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;

    input {
        padding: 14px 16px;
    }
}

.box {
    width: 165px;
    padding: 8px 0;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid var(--easy-blue);
    padding-right: 8px;

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img:first-child {
        margin-right: 12px;
        width: 20px;
    }

    img:last-child {
        width: 16px;
        margin-left: 30px;
    }

    &_text {
        text-transform: uppercase;
    }
}