:root {
    --black: #282828;
    --grey: #F6F7F8;
    --turquoise: #80A2B6;
    --red: #E03F3F;
    --easy-blue: #E3EBEF;
    --hover: #EAF1F7;
    --border-list: #C1D9E5;
    --blue: #0095E0;
    --blue-hover: #11B3FE;
}